<section class="about">
  <div class="container about-general-block">
    <div class="about-left-block">
      <h2 class="title-about">About <span>me</span></h2>
      <picture class="my-photo-container">
        <source srcset="./img/photo.jpg" />
        <img
          class="my-photo-img"
          id="my-photo"
          src="./img/photo.jpg"
          alt="My photo"
        />
      </picture>
    </div>
    <div class="about-right-block">
      <div class="about-bio-block about-item">
        <h3 class="title-about-bio" id="hideButton">BIO</h3>
        <div id="myTexts">
          <p class="text-about-bio-start">
            My name is Ira Prysiazhna. I am a Front-end Developer. Coming to my
            skills I know CSS, HTM, JavaScript, and I learn React and Node.js. I
            have completed a few of my successful personal and team projects.
            Also, I have accomplished a marathon of GO IT School and created my
            extra individual project.
          </p>
          <p class="text-about-bio-end">
            I am a organized, disciplined, motivated and detail-oriented
            Front-end Developer, eager to validate my current skills, expand my
            expertise and consolidate my technical abilities in development. My
            strong commitment to professional development and eagerness to learn
            and grow is demonstrated through my continuous pursuit of new skills
            and knowledge. I am passionate about bring my abilities to
            contribute to a dynamic team and drive success for the company.
          </p>
        </div>
      </div>
      <div class="about-education-block about-item">
        <h3 class="title-about-education about-title">EDUCATION</h3>
        <ul class="list-about-education about-text">
          <li class="item-about-aducation">
            2023 - 2024 / Fullstack Developer, IT School GoIT
          </li>
          <li class="item-about-aducation">
            2011 - 2015 / Master's degree in economic cybernetics, Vinnytsia
            Institute of Trade and Economics of State University of Trade and
            Economics
          </li>
        </ul>
      </div>
      <div class="about-roles-block about-item">
        <h3 class="title-about-role about-title">ROLES</h3>
        <ul class="list-about-role about-text">
          <li class="item-about-role">Frontend developer</li>
          <li class="item-about-role">Code reviewer</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="butterfly">
    <img
      id="wing1"
      src="./img/1.png"
      alt="Butterfly"
      height="50px"
      width="50px"
    />
    <img
      id="wing2"
      src="./img/2.png"
      alt="Butterfly"
      height="50px"
      width="50px"
    />
  </div>
</section>
