<footer class="footer">
  <div class="container footer-general-block">
    <h3 class="footer-title">
      <a>Ira<span>Prysiazhna</span></a>
    </h3>
    <div class="footer-data-block">
      <ul class="footer-list">
        <li class="footer-list-item">
          <a
            class="footer-link"
            href="https://www.linkedin.com/in/ira-prysiazhna-5657672b2/"
            target="_blank"
            >Linkedin</a
          >
        </li>
        <li class="footer-list-item">
          <a
            class="footer-link"
            href="https://github.com/PrysiazhnaIra?tab=overview&from=2024-05-01&to=2024-05-31"
            target="_blank"
            >GitHub</a
          >
        </li>
        <li class="footer-list-item">
          <a
            class="footer-link"
            href="https://www.instagram.com/prysiazhna.ira/"
            target="_blank"
            >Instagram</a
          >
        </li>
      </ul>
      <p class="footer-data">© Copyright - <span id="current-year"></span></p>
    </div>
  </div>
</footer>
