<section>
    <h2 class="is-hidden">tech skills</h2>
    <div class="marquee-container">
   <div class="marquee marquee1">
<div id="marquee1" class="skill-block-first">
    <ul class="skill-list">
        <li>🌸</li>
        <li class="skill-item">HTML</li>
        <li>🌸</li>
        <li class="skill-item">CSS</li>
        <li>🌸</li>
        <li class="skill-item">JAVASCRIPT</li>
        <li>🌸</li>
        <li class="skill-item">GIT</li>
        <li>🌸</li>
        <li class="skill-item">GITHUB</li>
        <li>🌸</li>
        <li class="skill-item">FIGMA</li>
        <li>🌸</li>
        <li class="skill-item">JIRA</li>
        <li>🌸</li>

        <li class="skill-item">HTML</li>
        <li>🌸</li>
        <li class="skill-item">CSS</li>
        <li>🌸</li>
        <li class="skill-item">JAVASCRIPT</li>
        <li>🌸</li>
        <li class="skill-item">GIT</li>
        <li>🌸</li>
        <li class="skill-item">GITHUB</li>
        <li>🌸</li>
        <li class="skill-item">FIGMA</li>
        <li>🌸</li>
        <li class="skill-item">JIRA</li>
        <li>🌸</li>
    </ul>
</div>
</div>
<div class="marquee marquee2">
<div id="marquee2" class="skill-block-second">
    <ul class="skill-list reverse">
        <li>🌸</li>
        <li class="skill-item">HTML</li>
        <li>🌸</li>
        <li class="skill-item">CSS</li>
        <li>🌸</li>
        <li class="skill-item">JAVASCRIPT</li>
        <li>🌸</li>
        <li class="skill-item">GIT</li>
        <li>🌸</li>
        <li class="skill-item">GITHUB</li>
        <li>🌸</li>
        <li class="skill-item">FIGMA</li>
        <li>🌸</li>
        <li class="skill-item">JIRA</li>
        <li>🌸</li>
        <li class="skill-item">HTML</li>
        <li>🌸</li>
        <li class="skill-item">CSS</li>
        <li>🌸</li>
        <li class="skill-item">JAVASCRIPT</li>
        <li>🌸</li>
        <li class="skill-item">GIT</li>
        <li>🌸</li>
        <li class="skill-item">GITHUB</li>
        <li>🌸</li>
        <li class="skill-item">FIGMA</li>
        <li>🌸</li>
        <li class="skill-item">JIRA</li>
        <li>🌸</li>
    </ul>
</div>
</div>
</div>

</section>