.footer {
  margin-bottom: 40px;
}

.footer-general-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footer-title {
}

.footer-list {
  padding: 20px 0;
}

.footer-data {
}

@media screen and (min-width: 768px) {
  .footer-general-block {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1280px) {
  .footer-general-block {
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-list {
    display: flex;
    column-gap: 40px;
    padding: 0;
  }

  .footer-data-block {
    display: flex;
    column-gap: 40px;
    padding: 20px 0;
  }
}
