.header-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  background: rgba(229, 202, 207, 0.8);
  color: #fffce1;
  backdrop-filter: blur(5px);
  left: 50%;
  transform: translate(-50%);
  box-sizing: border-box;
}

.header-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  cursor: url('../img/cursor.cur'), auto;
  padding: 20px;
}

.header-item {
}

.header-item a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: transform 0.3s ease, font-size 0.3s ease;
}

.header-item a:hover {
  color: #de4f69;
  transform: scale(1.1);
}

@media screen and (min-width: 360px, max-width: 375px) {
  .header-item a {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .header-item a {
    font-size: 40px;
  }
}
